<div class="items-center h-full  flex side-container">
  <div class="flex justify-center welcome  h-fit flex-col gap-[24px]">
    <h1 class="text-[#2D2D36]">Welcome </h1>
    <div>
      <label class="label">Enter Email ID</label><br>
      <input  type="text" [(ngModel)]="email" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Loremipsum@gmail.com">
    </div>

    <p>(OR)</p>

    <div>
      <label class="label">Enter Mobile No.</label><br>
      <input  type="text" [(ngModel)]="phone" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="999999999">
    </div>

    <p *ngIf="error !== ''" class="error">{{error}}</p>


    <button class="btn-next" (click)="EmailorPhone()">NEXT</button>
  </div>
</div>
