<div class=" items-center h-full  rounded-lg flex side-container">
  <div class=" flex justify-center welcome border h-fit flex-col gap-[24px]">
    <h1 class=" text-[#2D2D36]">Welcome Back, John!</h1>
    <div class="">
      <label class="label" for="">Enter Email ID</label><br>
      <input type="text" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name" >
    </div>

    <p>(OR)</p>

    <div class="">
      <label class="label" for="">Enter Mobile No.</label><br>
      <input type="number" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name" >
    </div>

    <button class="btn-next">NEXT</button>
    
  </div>
  
</div>