<div *ngIf="!success" class="items-center h-full rounded-lg flex side-container">
  <div class="flex justify-center welcome  h-fit flex-col gap-[24px]">
    <h1 class="text-[#2D2D36]">Welcome Back, {{name}}!</h1>
    
    <div *ngIf="paramemail">
      <label class="label">Enter Email ID</label><br>
      <input required type="text" [(ngModel)]="email" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name">
    </div>
    <div *ngIf="!paramemail">
      <label class="label">Enter Mobiel No.</label><br>
      <input required type="text" [(ngModel)]="mobile" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name">

    </div>
    <div>
      <label class="label">Enter Password</label><br>
      <input required type="password" [(ngModel)]="password" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name">
    </div>
    <p *ngIf="error !== ''" class="error">{{error}}</p>

    <button type="submit" class="btn-next" (click)="login()">NEXT</button>
  
  </div>
</div>
<div *ngIf="success" class="h-full rounded-lg justify-center flex flex-col items-center">

  <div class="text-center">
 
    <div class="flex justify-center">
      <div class="h-[204px] w-[204px] bg-green-500 rounded-full mb-10 flex items-center justify-center"><img src="Vector.svg" alt=""></div>
    </div>
    <h1 class="mb-2 font-bold">Welcome to Solve8!</h1>
    <p class="font-extralight text-sm mx-[58px]">Redirecting you to the Login screen. This might take a few seconds...</p>
  </div>
</div>