.authpage{
    background-color: #f0f5f7;
}
.circle{
  
margin-top: -169px;
margin-left: 450px;
gap: 0px;
opacity: 0px;

    width: 752px;
height: 752px;
flex-shrink: 0;
border-radius: 752px;
background: var(--Primary-1-Old-Blue09, #0054B3);
filter: blur(358.45001220703125px);
}

.circle2{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: absolute;
    
top: 93px;
left: -101px;
gap: 0px;
opacity: 0px;

border-radius: 50px;
background: var(--Primary-1-Old-Blue09, #0054B3);
filter: blur(358.45001220703125px);

}