<div *ngIf="!success" class="items-center h-full rounded-lg flex side-container">
  
    <form #signupForm="ngForm" (ngSubmit)="onNext(signupForm)" *ngIf="form == 'form1'" class="flex justify-center welcome  h-fit flex-col gap-[24px]">
      <div>
        <label class="label">Email</label><br>
        <input type="email" [(ngModel)]="emailValue" name="email" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter email" required>
        <div *ngIf="signupForm.submitted && signupForm.controls['email']?.invalid" class="error">
          Email is required.
        </div>
      </div>
      <div>
        <label class="label">Phone no.</label><br>
        <input type="text" [(ngModel)]="mobile" name="mobile" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter Phone no.  " required>
        <div *ngIf="signupForm.submitted && signupForm.controls['mobile']?.invalid" class="error">
          Phon no. is required.
        </div>
      </div>
    
      <div>
        <label class="label">Full Name</label><br>
        <input type="text" [(ngModel)]="fullname" name="fullname" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name" required>
        <div *ngIf="signupForm.submitted && signupForm.controls['fullname']?.invalid" class="error">
          Full Name is required.
        </div>
      </div>
    
      <div>
        <label class="label">Password</label><br>
        <input type="password" [(ngModel)]="password" name="password" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter password" required>
        <div *ngIf="signupForm.submitted && signupForm.controls['password']?.invalid" class="error">
          Password is required.
        </div>
      </div>
    
      <button type="submit" class="btn-next">Next</button>
    </form>
    

  <div *ngIf="form == 'form2'" class="flex justify-center  h-fit flex-col gap-[24px]">
    <div>
      <button class="btn-back flex items-center gap-2 text-[#0069D1] " (click)="changeForm('form1')">
        <img  class="mb-1" src="backi.svg" alt=""><span class=""> Go Back</span>
      </button>
    </div>
    
    <h1 class="text-[#2D2D36] font-bold">Create Account</h1>
    
    <div>
      <label class="label">Organisation Name</label><br>
      <input type="text" [(ngModel)]="orgname" name="orgname" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter organisation name">
    </div>
    
    <div>
      <label class="label">Organisation-id</label><br>
      <input type="text" [(ngModel)]="organid" name="organid" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter organisation ID">
    </div>
    
    <div>
      <label class="label">Designation</label><br>
      <input type="text" [(ngModel)]="designation" name="designation" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter designation">
    </div>
    
    <div class="cit-pin">
      <div>
        <label class="label">City</label><br>
        <input type="text" [(ngModel)]="city" name="city" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter city">
      </div>
      <div>
        <label class="label">Pincode</label><br>
        <input type="text" [(ngModel)]="pincode" name="pincode" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter pincode">
      </div>
    </div>
    
    <button class="btn-next" (click)="signup()">Create</button>
  </div>
</div>

<div *ngIf="success" class="h-full rounded-lg justify-center flex flex-col items-center">
  <div class="text-center">
    <div class="flex justify-center">
      <div class="h-[204px] w-[204px] bg-green-500 rounded-full mb-10 flex items-center justify-center">
        <img src="Vector.svg" alt="">
      </div>
    </div>
    <h1 class="mb-2 font-bold">Welcome to Solve8!</h1>
    <p class="font-extralight text-sm mx-[58px]">Redirecting you to the Login screen. This might take a few seconds...</p>
  </div>
</div>
