<div class="items-center h-full rounded-lg flex side-container">
  <div class="flex justify-center welcome border h-fit flex-col gap-[24px]">
    <h1 class="text-[#2D2D36]">Welcome Back, John!</h1>
    <div>
      <label class="label">Enter Email ID</label><br>
      <input type="text" [(ngModel)]="emailValue" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name">
    </div>

    <p>(OR)</p>

    <div>
      <label class="label">Enter Full name</label><br>
      <input type="password" [(ngModel)]="fullname" class="input w-full outline-none bg-[#E4ECEE] py-[13px] pl-[13px] rounded-full" placeholder="Enter full name">
    </div>

    <button class="btn-next" (click)="formnext()">NEXT</button>
  </div>
</div>
